.nav-bar{
  height:80px;
  width:100%;
  background-color:#191645;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  color:#ffffff;
}

.nav-bar .left{
  margin-right:20px;
  padding: 1rem;
}

.right button{
  width: 10rem;
  height: 3rem;
  appearance: none;
  border: none;
  cursor: pointer;
  isolation: isolate;
  margin: 0;
  box-sizing: border-box;
  transition: all 200ms ease-out;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 60px;
  border-radius: 1rem;
  background: #43C6AC;
  box-shadow: 0 12px 24px 0 color-mix(in oklab, black, transparent 90%);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    border-radius: inherit;
    background: linear-gradient(90deg, var(--pink), var(--trans-red), var(--yellow));
    z-index: -1;
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
  }
  & > span {
    color: transparent;
    background: linear-gradient(90deg, var(--pink), var(--trans-red), var(--yellow));
    background-clip: text;
  }

  &:is(:hover, :focus) {
    box-shadow: 0 0 0 0 color-mix(in oklab, black, transparent 90%);
    scale: 1.2;

    &::before {
      transform: translateX(0);
    }

    & > span {
      color: white;
    }
  }

}

.nav-bar .right{
  margin-right:20px;
  padding: 1rem;
}


.property-editor {
  float: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 12%;
  justify-content: space-between;
  background-color: #43C6AC;
}

.property-editor mat-form-field{
  width: 10rem;
  height: 3rem;
}


.ui-container{
  display: flex;
}

.ui-builder {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.component-library, .canvas, .code-editor {
  padding: 15px;
  background-color: #191645;
}

.component-library {
  width: 15%;
  display: flex;
  color:#ffffff;
  font-weight: bold;
  flex-direction: column;
  justify-content: space-evenly;
}




.component-library button {
  width: 10rem;
  height: 3rem;
  appearance: none;
  border: none;
  cursor: pointer;
  isolation: isolate;
  margin: 0;
  box-sizing: border-box;
  transition: all 200ms ease-out;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 60px;
  border-radius: 50rem;
  background: #43C6AC;
  box-shadow: 0 12px 24px 0 color-mix(in oklab, black, transparent 90%);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    border-radius: inherit;
    z-index: -1;
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
  }
  & > span {
    color: transparent;
    background-clip: text;
  }

  &:is(:hover, :focus) {
    box-shadow: 0 0 0 0 color-mix(in oklab, black, transparent 90%);
    scale: 1.2;

    &::before {
      transform: translateX(0);
    }

    & > span {
      color: white;
    }
  }
}







.canvas {
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  min-height: 500px;
  position: relative;
}

.canvas-item {
  position: relative;
  margin: 10px;
}

.code-editor {
  width: 30%;
  color: aqua;
}


.code-editor-area{
  color: burlywood !important;
  width: 35rem;
  height: 100vh !important;
}

.form-editor{
  color: aqua;
  width: 28rem !important;
}


.context-menu {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
